<!---->
<launch>
	<group ns="$(arg name)">
		<!--<param name="tf_prefix" value="'$(arg name)"/>--> <!-- Not sure if this is used-->
		<!-- Bring up ros vrpn node to broadcast agent's location -->
		<node pkg="ros_vrpn_client" type="ros_vrpn_client" name="bot" args="_vrpn_server_ip:=192.168.1.104" output="screen" required="true"/>
		
		<node pkg="bot_pid_kobuki" type="bot_pid_kobuki_node" name="bot_pid_kobuki" output="log">
			<param name="pose_topic" value="bot/nwu/pose"/>
			<param name="pose_desired_topic" value="desired_state/pose"/>
		</node>

		<!--	<include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>-->
		<!-- Bring up the wta code -->
		<node pkg="wta_demo" type="wta_demo" name="agent" output="log" respawn="true">
			<param name="bot_id" value="$(arg name)" type="str"/>
		</node>
	</group>
	<!-- Bring up controller that listens on correct topics (here for namespace issues)-->
	<include file="$(find bot_pid_kobuki)/launch/kobuki_minimal.launch">
		<arg name="name" value="$(arg name)"/>
	</include>
</launch>

